# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environment
.venv/

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore git directory
.git/

# Ignore .env file
.env

# Ignore database file
deepthinks.db
